<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="test" connectionString="test"/>
  </connectionStrings>
  <configProtectedData>
    <providers>
      <clear />
      <add keyContainerName="key.txt"
           name="ClassUnderTest"
           type="Carubbi.Utils.Configuration.TripleDESProtectedConfigurationProvider, Carubbi.Utils" />
    </providers>
  </configProtectedData >
</configuration>