<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICaptchaBreaker">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ICaptchaBreaker1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://187.18.58.81:8080/Carubbi.ComponentServices.GSACaptchaBreakerService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICaptchaBreaker"
                contract="CarubbiComponentServices.ICaptchaBreaker" name="WSHttpBinding_ICaptchaBreaker">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/Carubbi.ComponentServices/GSACaptchaBreakerService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICaptchaBreaker1"
                contract="GSACaptchaBreakerServiceProxy.ICaptchaBreaker" name="WSHttpBinding_ICaptchaBreaker1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
